* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --beige: #f0e5d8;
  --blue: #5f9ea0;
  --white: #ffffff;
  --dark-brown: #512f0e;
  --dark-blue: #416f70;
  --blue-shadow: #335e60ad;
  --light-tra-blue: #9ab3b44c;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--beige);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adding-items {
  background-color: var(--white);
  /* border-radius: 5px; */
  border-radius: 90% 5% / 10% 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 600px;
  height: 220px;
  padding: 15px;
  margin-top: 30px;
}

.texts {
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  margin: 15px;
  padding: 15px;
}
input {
  text-align: right;
}
.inputs,
.btns {
  /* border-radius: 5px; */
  border-radius: 60% 10% / 16% 40%;

  border: solid var(--blue) 3px;
  align-content: center;
}

.btns {
  background-color: var(--blue);
  color: var(--white);
  border-width: 0;
  width: 130px;
  height: fit-content;
}

.btns:hover {
  background-color: var(--dark-blue);
}

li > .btns {
  width: fit-content;
  padding: 7px;
}
header,
footer {
  margin: 0;
  padding: 15px;
  width: 100%;
  height: fit-content;
  background-color: var(--blue);
  justify-content: space-between;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.header-links,
.footer-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header-links a,
.footer-items p,
header,
footer {
  color: var(--white);
}
footer {
  margin-top: auto;
}

.header-links a:hover {
  color: var(--dark-brown);
}

.tasks-list-container {
  margin: 10px 20px 10px;
  display: flex;
  flex-direction: column;
}

.tasks-list {
  list-style-type: none;
  margin-block: 15px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
}

.tasks-list li {
  background-color: var(--white);
  box-shadow: var(--blue-shadow) -7px 7px 7px;
  padding-block: 10px;
  padding-inline: 10px;
  width: 180px;
  height: 180px;
  border-radius: 60% 5% / 16% 100%;
  /* for testing shape: */
  /* border: 1px solid red; */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tasks-list li:hover {
  background-color: var(--light-tra-blue);
}

.container-page2 {
  text-align: center;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

@media (max-width: 480px) {
  .adding-items {
    flex-wrap: wrap;
    width: 250px;
    height: 200px;
  }
  .texts,
  .inputs,
  .btns {
    font-size: 12px;
    padding: 7px;
    margin: 7px;
  }
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 14px;
  }
  .tasks-list {
    justify-content: center;
  }
  .header-links,
  .footer-items {
    font-size: 10px;
    gap: 5px;
  }
}
@media (max-width: 680px) and (min-width: 480px) {
  .adding-items {
    flex-wrap: wrap;
    width: 400px;
    height: 150px;
  }
  .texts,
  .inputs,
  .btns {
    font-size: 14px;
    padding: 7px;
    margin: 7px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  .tasks-list {
  }
  .header-links,
  .footer-items {
    font-size: 12px;
    gap: 5px;
  }
}
